<div *ngIf="audits">
    <h2 id="audits-page-heading" jhiTranslate="audits.title">Audits</h2>
    
    <div class="row">
        <div class="col-md-5">
            <h4 jhiTranslate="audits.filter.title">Filter by date</h4>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" jhiTranslate="audits.filter.from">from</span>
                </div>
                <input (ngModelChange)="transition()"
                       [(ngModel)]="fromDate"
                       class="form-control"
                       name="start"
                       required
                       type="date"/>
                
                <div class="input-group-append">
                    <span class="input-group-text" jhiTranslate="audits.filter.to">To</span>
                </div>
                <input (ngModelChange)="transition()"
                       [(ngModel)]="toDate"
                       class="form-control"
                       name="end"
                       required
                       type="date"/>
            </div>
        </div>
    </div>
    
    <div class="table-responsive">
        <table class="table table-sm table-striped">
            <thead>
            <tr [(ascending)]="reverse" [(predicate)]="predicate" [callback]="transition.bind(this)" jhiSort>
                <th jhiSortBy="auditEventDate"><span jhiTranslate="audits.table.header.date">Date</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="principal"><span jhiTranslate="audits.table.header.principal">User</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="auditEventType"><span jhiTranslate="audits.table.header.status">State</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th><span jhiTranslate="audits.table.header.data">Extra data</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let audit of audits">
                <td><span>{{audit.timestamp| date:'medium'}}</span></td>
                <td>
                    <small>{{audit.principal}}</small>
                </td>
                <td>{{audit.type}}</td>
                <td>
                    <span *ngIf="audit.data" ng-show="audit.data.message">{{audit.data.message}}</span>
                    <span *ngIf="audit.data"
                          ng-show="audit.data.remoteAddress"><span jhiTranslate="audits.table.data.remoteAddress">Remote Address</span> {{audit.data.remoteAddress}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <div class="row justify-content-center">
            <jhi-item-count [itemsPerPage]="itemsPerPage" [page]="page" [total]="totalItems"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination (pageChange)="loadPage(page)"
                            [(page)]="page"
                            [boundaryLinks]="true"
                            [collectionSize]="totalItems"
                            [maxSize]="5"
                            [pageSize]="itemsPerPage"
                            [rotate]="true"></ngb-pagination>
        </div>
    </div>
</div>
