<div class="row justify-content-center">
    <div class="col-8">
        <form #editForm="ngForm" (ngSubmit)="save()" name="editForm" novalidate role="form">
            <h2 id="myUserLabel" jhiTranslate="userManagement.home.createOrEditLabel">
                Create or edit a User
            </h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div [hidden]="!user.id" class="form-group">
                    <label jhiTranslate="global.field.id">ID</label>
                    <input [(ngModel)]="user.id" class="form-control" name="id"
                           readonly type="text">
                </div>
                
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="userManagement.login">Login</label>
                    <input #loginInput="ngModel" [(ngModel)]="user.login" class="form-control" maxlength="50"
                           minlength="1" name="login" pattern="^[_.@A-Za-z0-9-]*$" required type="text">
                    
                    <div *ngIf="loginInput.dirty && loginInput.invalid">
                        <small *ngIf="loginInput.errors.required"
                               class="form-text text-danger" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        
                        <small *ngIf="loginInput.errors.maxlength"
                               [translateValues]="{max: 50}" class="form-text text-danger"
                               jhiTranslate="entity.validation.maxlength">
                            This field cannot be longer than 50 characters.
                        </small>
                        
                        <small *ngIf="loginInput.errors.pattern"
                               class="form-text text-danger" jhiTranslate="entity.validation.patternLogin">
                            This field can only contain letters, digits and e-mail addresses.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="userManagement.firstName">First Name</label>
                    <input #firstNameInput="ngModel" [(ngModel)]="user.firstName" class="form-control" maxlength="50"
                           name="firstName" type="text">
                    
                    <div *ngIf="firstNameInput.dirty && firstNameInput.invalid">
                        <small *ngIf="firstNameInput.errors.maxlength"
                               [translateValues]="{max: 50}" class="form-text text-danger"
                               jhiTranslate="entity.validation.maxlength">
                            This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label jhiTranslate="userManagement.lastName">Last Name</label>
                    <input #lastNameInput="ngModel" [(ngModel)]="user.lastName" class="form-control" maxlength="50"
                           name="lastName" type="text">
                    
                    <div *ngIf="lastNameInput.dirty && lastNameInput.invalid">
                        <small *ngIf="lastNameInput.errors.maxlength"
                               [translateValues]="{max: 50}" class="form-text text-danger"
                               jhiTranslate="entity.validation.maxlength">
                            This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="userManagement.email">Email</label>
                    <input #emailInput="ngModel" [(ngModel)]="user.email" class="form-control" email
                           maxlength="254" minlength="5" name="email" required type="email">
                    
                    <div *ngIf="emailInput.dirty && emailInput.invalid">
                        <small *ngIf="emailInput.errors.required"
                               class="form-text text-danger" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        
                        <small *ngIf="emailInput.errors.maxlength"
                               [translateValues]="{max: 100}" class="form-text text-danger"
                               jhiTranslate="entity.validation.maxlength">
                            This field cannot be longer than 100 characters.
                        </small>
                        
                        <small *ngIf="emailInput.errors.minlength"
                               [translateValues]="{min: 5}" class="form-text text-danger"
                               jhiTranslate="entity.validation.minlength">
                            This field is required to be at least 5 characters.
                        </small>
                        
                        <small *ngIf="emailInput.errors.email"
                               class="form-text text-danger" jhiTranslate="global.messages.validate.email.invalid">
                            Your email is invalid.
                        </small>
                    </div>
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="activated">
                        <input [(ngModel)]="user.activated"
                               [disabled]="user.id === null"
                               class="form-check-input"
                               id="activated"
                               name="activated"
                               type="checkbox">
                        <span jhiTranslate="userManagement.activated">Activated</span>
                    </label>
                </div>
                
                <div *ngIf="languages && languages.length > 0" class="form-group">
                    <label jhiTranslate="userManagement.langKey">Lang Key</label>
                    <select [(ngModel)]="user.langKey" class="form-control" id="langKey" name="langKey">
                        <option *ngFor="let language of languages"
                                [value]="language">{{language | findLanguageFromKey}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="userManagement.profiles">Profiles</label>
                    <select [(ngModel)]="user.authorities" class="form-control" multiple name="authority">
                        <option *ngFor="let authority of authorities" [value]="authority">{{authority}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button (click)="previousState()" class="btn btn-secondary" type="button">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span
                    jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary" type="submit">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
