<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="feelWheel">
            <h2>
                <span jhiTranslate="efwgatewayApp.efwserviceFeelWheel.detail.title"></span> {{feelWheel.subject}}
            </h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="efwgatewayApp.efwserviceFeelWheel.subject"></span></dt>
                <dd>
                    <span>{{feelWheel.subject}}</span>
                </dd>
                <dt><span jhiTranslate="efwgatewayApp.efwserviceFeelWheel.from"></span></dt>
                <dd>
                    <span>{{feelWheel.from}}</span>
                </dd>
                <dt><span jhiTranslate="efwgatewayApp.efwserviceFeelWheel.to"></span></dt>
                <dd>
                    <span>{{feelWheel.to}}</span>
                </dd>
                <dt><span jhiTranslate="efwgatewayApp.efwserviceFeelWheel.employee"></span></dt>
                <dd>
                    <div *ngIf="feelWheel.employeeId">
                        <a [routerLink]="['/employee-iso', feelWheel.employeeId, 'view']">{{feelWheel.employeeEmail}}</a>
                    </div>
                </dd>
            </dl>
            
            <button (click)="previousState()"
                    class="btn btn-info"
                    type="submit">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> </span>
            </button>
            
            <button [routerLink]="['/feel-wheel-iso', feelWheel.id, 'edit']"
                    class="btn btn-primary"
                    type="button">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> </span>
            </button>
        </div>
    </div>
</div>
