<div>
    <h2 id="page-heading">
        <span jhiTranslate="efwgatewayApp.efwserviceEmployee.home.title">Employees</span>
        <button *jhiHasAnyAuthority="['ROLE_ADMIN']"
                [routerLink]="['/employee-iso/new']"
                class="btn btn-primary float-right jh-create-entity create-employee-iso"
                id="jh-create-entity">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="efwgatewayApp.efwserviceEmployee.home.createLabel">
            Create new Employee
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form class="form-inline" name="searchForm">
                <div class="input-group w-100 mt-3">
                    <input [(ngModel)]="currentSearch"
                           class="form-control"
                           id="currentSearch"
                           name="currentSearch"
                           placeholder="{{ 'efwgatewayApp.efwserviceEmployee.home.search' | translate }}"
                           type="text">
                    <button (click)="search(currentSearch)" class="input-group-append btn btn-info">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button (click)="clear()" *ngIf="currentSearch" class="input-group-append btn btn-danger">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div *ngIf="employees" class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr [(ascending)]="reverse" [(predicate)]="predicate" [callback]="reset.bind(this)" jhiSort>
                <th *jhiHasAnyAuthority="['ROLE_ADMIN']" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="email"><span jhiTranslate="efwgatewayApp.efwserviceEmployee.email">Email</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="employeeEmail">
                    <span jhiTranslate="efwgatewayApp.efwserviceEmployee.employee">Employee</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody (scrolled)="loadPage(page + 1)"
                   [infiniteScrollDisabled]="page >= links['last']"
                   [infiniteScrollDistance]="0"
                   infinite-scroll>
            <tr *ngFor="let employee of employees ;trackBy: trackId">
                <td><a [routerLink]="['/employee-iso', employee.id, 'view' ]">{{employee.id}}</a></td>
                <td>{{employee.email}}</td>
                <td>
                    <div *ngIf="employee.employeeId">
                        <a [routerLink]="['../employee-iso', employee.employeeId , 'view' ]">{{employee.employeeEmail}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button [routerLink]="['/employee-iso', employee.id, 'view' ]"
                                class="btn btn-info btn-sm"
                                type="submit">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button [routerLink]="['/employee-iso', employee.id, 'edit']"
                                class="btn btn-primary btn-sm"
                                type="submit">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="['ROLE_ADMIN']"
                                [routerLink]="['/', 'employee-iso', { outlets: { popup: employee.id + '/delete'} }]"
                                class="btn btn-danger btn-sm"
                                queryParamsHandling="merge"
                                replaceUrl="true"
                                type="submit">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
