<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title"></h1>
        <p class="lead" jhiTranslate="home.subtitle"></p>
        
        <div [ngSwitch]="isAuthenticated()">
            <div *ngSwitchCase="true" class="alert alert-success">
                <span *ngIf="account" [translateValues]="{username: account.login}" id="home-logged-message"
                      jhiTranslate="home.logged.message"></span>
                <jhi-entities-quick-selection></jhi-entities-quick-selection>
            </div>
            
            <div *ngSwitchCase="false" class="alert alert-warning">
                <span jhiTranslate="global.messages.info.authenticated.prefix"></span>
                <a (click)="login()" class="alert-link" jhiTranslate="global.messages.info.authenticated.link"></a><span
                jhiTranslate="global.messages.info.authenticated.suffix"></span>
            </div>
            <div *ngSwitchCase="false" class="alert alert-warning">
                <span jhiTranslate="global.messages.info.register.noaccount"></span>&nbsp;
                <a class="alert-link" jhiTranslate="global.messages.info.register.link" routerLink="register"></a>
            </div>
        </div>
    </div>
</div>
